parameters:
    level: 7
    ignoreErrors:
        - { message: '#Negated boolean expression is always false.#', path: '%rootDir%/../../../src/Spryker/CustomerGroupDiscountConnector/src/Spryker/Zed/CustomerGroupDiscountConnector/Business/DecisionRule/CustomerGroupDecisionRule.php' }
